<form {{action 'login' username password on='submit'}}>
  <label for="username">Username</label>
  {{input value=username id='username'}}

  <label for="password">Password</label>
  {{input value=password id='password' type='password'}}

  <input type="submit" value="Login">
</form>

<h3>Logged In User</h3>

{{session.currentUser.email}}