<form {{action 'signup' username password on='submit'}}>
  <label for="username">Username</label>
  {{input value=username id='username'}}

  <label for="password">Password</label>
  {{input value=password id='password' type='password'}}

  <input type="submit" value="Signup">
</form>