<form {{action 'signup' username email password on='submit'}}>
  <label for="username">Username</label>
  {{bs-input value=username id='username'}}

  <label for="email">Email</label>
  {{bs-input value=email id='email'}}

  <label for="password">Password</label>
  {{bs-input value=password id='password' type='password'}}

  <input type="submit" value="Signup">
</form>